@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sf-pro-display font-normal
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.smooth-scrollbar {
    transition: scrollbar-width 0.3s ease, -ms-overflow-style 0.3s ease;
}

.scrollbar-hidden {
    scrollbar-width: none;
    /* Firefox için */
    -ms-overflow-style: none;
    /* IE/Edge için */
}